@font-face {
	src: url(../../assets/F37JudgeTest-RegularCondensed.otf);
	font-family: patMahomesRegular;
}
.cartProducts__container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border-bottom: 1px solid white;
	padding-top: 20px;
	padding-bottom: 20px;
	align-self: flex-start;
}
.cartProducts__container__image__container {
	/* max-width: 30%; */
	/* flex: 10%; */
	max-width: 20%;
}
.cartProducts__container__image__container__image {
	/* width: 100px; */
	max-width: 100%;
	background-color: white;
}
.checkout__image {
	max-width: 100%;
	background-color: black;
}
.cartProducts__container__ImageTitle,
.cartProducts__container__ImageTitle__checkout {
	display: flex;
	justify-content: left;
	align-items: center;
}

.cartProducts__titlePrice__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 1.2rem;
	font-family: patMahomesRegular;
	margin-left: 5px;
}
.cartProducts__checkout {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	font-size: 4vw;
	font-family: patMahomesRegular;
	margin-left: 5px;
}
.title__price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cartProducts__counter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cart__display__footer__totalPrice__container {
	font-family: patMahomesRegular;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}
.buttons__container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	font-size: 3vw;
	/* position: relative;
	z-index: 10; */
}
.buttons__container button {
	border: 0;
	background-color: transparent;
	color: white;
}
@media (max-width: 799px) {
	.cartProducts__container,
	.buttons__container {
		font-size: 4vw;
	}
	.checkout__image {
		max-width: 20vw;
	}
	.cartProducts__checkout {
		font-size: 5vw;
		font-family: patMahomesRegular;
		margin-left: 20px;
	}
	.cartProducts__container__ImageTitle__checkout {
		justify-content: space-around;
	}
}
