@font-face {
	src: url(../../../assets/F37JudgeTest-BoldCondensed.otf);
	font-family: patMahomesBold;
}
@font-face {
	src: url(../../../assets/F37JudgeTest-RegularCondensed.otf);
	font-family: patMahomesRegular;
}
.footer__container {
	width: 90vw;
	margin: 60px auto 0 auto;
	display: flex;
}
.footer__container__info {
	width: 50%;
}
.footer__container__info__title {
	font-family: patMahomesBold;
	font-size: 15vw;
	letter-spacing: -0.01em;
	line-height: 0.85;
	margin-top: 80px;
}
.footer__container__image {
	margin-right: 20px;
}
.hide {
	opacity: 0;
}
.show {
	opacity: 1;
}
.footer__contact {
	max-width: 50vw;
	margin-top: 20px;
	font-size: 2.5vw;
}
.footer__contact p {
	font-family: patMahomesRegular;
}
.footer__contact p span a {
	font-family: patMahomesBold;
	color: #fcee21;
}
.footer__contact input {
	width: 98.5%;
	height: 3vw;
	font-size: 2.5vw;
}
.footer__contact button {
	font-size: 3vw;
	cursor: pointer;
	width: 100%;
	padding: 20px 0 20px 0;
	margin: 20px auto;
	background-color: #fcee21;
	border: none;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__contact button span {
	margin: 0 auto;
}

@media (max-width: 800px) {
	.footer__container {
		flex-direction: column;
	}
	.footer__container__info {
		width: 100%;
	}
	.footer__contact {
		max-width: 90vw;
		font-size: 6.5vw;
	}
	.footer__contact input {
		height: 6.5vw;
		font-size: 6vw;
	}
	.footer__contact button {
		font-size: 6vw;

		height: 6.5vw;
	}
}
