/* Mahomies Title */
.mahomies {
	margin-top: 50px;
	max-width: 95vw;
	margin: 0 auto;
}
.mahomies__top {
	display: flex;
}
.mahomies__top p {
	font-size: 3vw;
	margin-top: 10%;
}

.mahomies__title {
	font-family: patMahomesBold;
	font-weight: lighter;
	/* margin-top: -53vh; */
	color: white;
	font-size: 14.2vw;
	width: 90vw;
	text-align: left;
	margin: 0;
	line-height: 85%;
	letter-spacing: -0.01em;
}

.mahomies__title:hover {
	color: yellow;
	cursor: pointer;
}
.mahomies__title > span {
	color: transparent;
	-webkit-text-stroke: 1px #fff;
	font-family: patMahomesBold;
}

.mahomies__image__container {
	max-width: 95vw;
	margin: 0 auto;
}
@media (max-width: 799px) {
	.mahomies__top {
		flex-direction: column;
	}
	.mahomies__title {
		font-family: patMahomesBold;
		font-weight: lighter;
		width: 90vw;
	}
}
