@font-face {
	src: url(../assets/F37JudgeTest-BoldCondensed.otf);
	font-family: patMahomesBold;
}
@font-face {
	src: url(../assets/F37JudgeTest-MediumCondensed.otf);
	font-family: patMahomesMedium;
}
@font-face {
	src: url(../assets/F37JudgeTest-RegularCondensed.otf);
	font-family: patMahomesRegular;
}

/* TOP BODY */
.layout {
	background-color: black;
}
.body {
	/* width: 100vw; */
	background-color: black;
	margin: 0;
	overflow: hidden;
}
