@font-face {
	src: url(../assets/F37JudgeTest-BoldCondensed.otf);
	font-family: patMahomesBold;
}
.navMobile {
	height: 100vh;
	width: 100vw;
	background-color: black;

	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	position: fixed;
	font-size: 25vw;
	color: white;
	line-height: 0.8;
}
.navMobile__list {
	margin-top: 40vw;
	list-style: none;
	text-align: left;
}

.navMobile__list__item {
	font-family: patMahomesBold;
}
.navMobile__list__item:hover {
	color: yellow;
}
