.body__productGrid {
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-column-gap: 2.431vw;
	grid-row-gap: 1vw;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 799px) {
	.body__productGrid {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}
